#include "winuser.h"

1          RT_MANIFEST install.manifest
app        ICON        install.ico
Background BITMAP      background.bmp

//
/// Password
//

50 DIALOG DISCARDABLE  0, 0, 232, 112
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Enter Password"
FONT 8, "MS Sans Serif"
BEGIN
    GROUPBOX        "Agreement", 3,
                    6, 4, 220, 50
    CTEXT           "Dawn of Space closed-beta contains copyrighted data.\r\n\r\nBy installing this program you agree to not redistribute it or any part, including screenshots and videos.", 4,
                    14, 15, 200, 33
    LTEXT           "Please enter your closed-beta password:", 5,
                    6, 62, 220, 33
    EDITTEXT        6,
                    6, 74, 220, 10, ES_AUTOHSCROLL | ES_PASSWORD
    DEFPUSHBUTTON   "OK", 1,
                    122, 92, 50, 14
    PUSHBUTTON      "Cancel", 2,
                    176, 92, 50, 14
END
